POSTGRES_DB=machcore_dev
POSTGRES_USER=machcore
POSTGRES_PASSWORD=machcore_pass_change_me
DATABASE_URL="postgresql://machcore:machcore_pass_change_me@localhost:5432/machcore_dev?schema=public"
SHADOW_DATABASE_URL="postgresql://machcore:machcore_pass_change_me@localhost:5432/machcore_dev_shadow?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass_change_me
JWT_SECRET=change_me_to_random_256bit_secret
JWT_EXPIRES_IN=8h
API_PORT=3001
WEB_PORT=3000
NODE_ENV=development
FILE_STORAGE_PATH=/var/machcore/files
